/* page scss des menus à implanter dans le sass */
@mixin contentsmenu {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 12px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: $colorw;
    border-radius: 16px;
    box-shadow: 0 5px 10px rgba(0 0 0 / 0.13);
    cursor: pointer;
    overflow: hidden;
    &:hover {
        transform: scale(1.01);
        box-shadow: 0 5px 10px rgba(0 0 0 / 0.20);
    }
    &--price {
        display: flex;
        margin-right: 10px;
    }
    h3 {
        padding-top: 10px;
        margin-bottom: 5px;
        margin-top: 0;
        font-weight: 500;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &--menuitem { /*animation validé */
        background-color: #99E2D0;
        margin: -39px -102px 0 16px;
        width: 96px;
        display:flex;
        align-items: center;
        justify-content:center;
        transition-duration: 0.5s;
    }
    &:hover &--menuitem {
        margin-right: -18px;
      }
    &--menuitemwrapicon {
        height: 26px;
        width: 26px;
        background-color: white;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius: 100px;
        transform: rotate(180deg);
        transition-duration: 0.5s;
    }
    &:hover &--menuitemwrapicon {
        transform: rotate(0);
    }
    &--menuitemicon {
        color: #99E2D0;
    } /* fin de l'animation validé */
}
.pagemenu {
    a {
        position: relative;
        top: 28px;
        left: 20px;
    }
    &__arrow {
    color: #353535;
    font-size: 20px;
    }
}

.restaurantContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
    &__imgfood {
        width: 100%;
        height: 270px;
        object-fit: cover;
    }
}

.mainbackground {
    display: flex;
    flex-direction: column;
    background-color: $color;
    border-radius: 32px 32px 0 0;
    position: relative;
    bottom: 50px;
    &__titleheader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: -15px;
        h2 {
        margin: 0;
        margin-top: 25px;
        padding-left: 20px;
        font-family: 'Shrikhand';
        font-size: 28px;
        font-weight: 300;
    }
    &--iconh2 {
            margin-right: 40px;
            font-size: 24px;
            position: relative;
            top: 10px;
            &:hover {
                background: linear-gradient(#9356DC, #FF79DA);
                font-weight: bold;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    &__title { 
        position: relative;
        font-size: 17px;
        margin-left: 20px;
        margin-top: 35px;
        font-weight: 300;
        &--item {
            position: relative;
            bottom: 14px;
            left: 20px;
            height: 3px;
            width: 50px;
            background-color: #99e2d0;
        }
    }
    &__contentsmenu1 {
        @include contentsmenu;
    }
    &__contentsmenu {
        @include contentsmenu;
        margin-top: 15px;
    }
    &__widthinput {
        text-align: center;
        margin-top: 25px;
    }
    input {
        border: none;
        color: $colorw;
        background: rgb(209,137,186);
        background: linear-gradient(170deg, rgba(209,137,186,1) 0%, rgba(147,86,220,1) 100%);
        margin-top: 15px;
        margin-bottom: 50px;
        box-shadow: 0 6px 13px rgb(0 0 0 / 0.13);
        padding: 15px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 32px;
        font-size: 16px;
        cursor: pointer;
        &:hover {
            box-shadow: 0 6px 13px rgb(0 0 0 / 0.20);
            transform: scale(1.01);
        }
    }
}
.bold {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 500;
}
.light {
    width: 112%;
    margin: 0;
    margin-bottom: 13px;
    font-weight: 300;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sectionfootermenu {
    height: 190px;
    background-color: #353535;
    position: relative;
    bottom: 50px;
    &__logofooter {
        color: $colorw;
        text-decoration: none;
        h3 {
            padding-top: $marginrl;
            margin-top: $margindefault;
            margin-left: $marginrl;
        }
    }
    &__containfooter {
        margin-block-end: 7px;
        &--decoration {
        text-decoration: none;
        color: $colorw;
        margin-left: $marginrl;
        }
        &--decoration1 {
        text-decoration: none;
        color: $colorw;
        margin-left: 5px;
        }
    }
    &__icon {
        font-size: 15px;
        color: $colorw;
        margin-left: $marginrl;
    }
    &__icon1 {
        font-size: 10px;
        color: $colorw;
        margin-left: $marginrl;
    }
}
@media screen and (min-width:768px) and (max-width:991px) { /* tablette */
    .placementmediaqueries {
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
        font-size: 18px;
    }
    .restaurantContainer__imgfood {
        width: 100%;
        height: 450px;
    }
    .mainbackground {
        display: flex;
        flex-direction: column;
        background-color: $color;
        border-radius: 32px 32px 0 0;
        position: relative;
        bottom: 50px;
        &__titleheader {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: -15px;
            h2 {
            margin-top: 25px;
            font-family: 'Shrikhand';
            font-size: 28px;
            font-weight: 300;
            }
            &--iconh2 {
                position: relative;
                left: 25px;
                margin-right: 40px;
                font-size: 24px;
            }
        }
    }
}
@media screen and (min-width:1250px) { /* laptop */
    .placementmediaqueries {
        display: flex;
        justify-content: space-between;
        margin-right: 30px;
        font-size: 18px;
    }
    .restaurantContainer__imgfood {
        width: 100%;
        height: 600px;
    }
    .mainbackground__title--item {
        position: relative;
        bottom: 14px;
        left: 400px;
        height: 3px;
        width: 50px;
        background-color: rgb(153, 226, 208);
    }
    .mainbackground {
        display: flex;
        flex-direction: column;
        background-color: $color;
        border-radius: 32px 32px 0 0;
        position: relative;
        bottom: 50px;
        &__titleheader {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: -15px;
            h2 {
            margin-top: 25px;
            font-family: 'Shrikhand';
            font-size: 28px;
            font-weight: 300;
            }
            &--iconh2 {
                position: relative;
                left: 25px;
                margin-right: 40px;
                font-size: 24px;
            }
        }
    }
    .mainbackground__contentsmenu1 {
        margin-right: 400px;
        margin-left: 400px;
    }
    .mainbackground__contentsmenu {
        margin-right: 400px;
        margin-left: 400px;
    }
    .mainbackground__title {
        margin-right: 400px;
        margin-left: 400px;
    }
    .sectionfooter__logofooter h3 {
        text-align: center;
        font-size: 30px;
    }
    .sectionfooter__containfooter {
        margin-left: 100px;
        margin-right: 100px;
    }
}
