@charset "UTF-8";
/**
order to respect for 7-1 pattern
- base
- utils
- layout
- pages 
- components
- pages
- themes
- vendors
*/
body {
  margin: 0;
  height: 0;
  font-family: "Roboto", sans-serif;
}

/* page scss des menus à implanter dans le sass */
.pagemenu a {
  position: relative;
  top: 28px;
  left: 20px;
}
.pagemenu__arrow {
  color: #353535;
  font-size: 20px;
}

.restaurantContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}
.restaurantContainer__imgfood {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.mainbackground {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 32px 32px 0 0;
  position: relative;
  bottom: 50px;
}
.mainbackground__titleheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -15px;
}
.mainbackground__titleheader h2 {
  margin: 0;
  margin-top: 25px;
  padding-left: 20px;
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 300;
}
.mainbackground__titleheader--iconh2 {
  margin-right: 40px;
  font-size: 24px;
  position: absolute;
  top: 30px;
  left: 320px;
}
.mainbackground__titleheader--iconh2:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mainbackground__title {
  position: relative;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 35px;
  font-weight: 300;
}
.mainbackground__title--item {
  position: relative;
  bottom: 14px;
  left: 20px;
  height: 3px;
  width: 12%;
  background-color: #99e2d0;
}
.mainbackground__contentsmenu1 {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  overflow: hidden;
  /* fin de l'animation validé */
}
.mainbackground__contentsmenu1:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.mainbackground__contentsmenu1--price {
  display: flex;
  margin-right: 10px;
}
.mainbackground__contentsmenu1 h3 {
  padding-top: 10px;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mainbackground__contentsmenu1--menuitem {
  /*animation validé */
  background-color: #99E2D0;
  margin: -39px -98px 0 16px;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.mainbackground__contentsmenu1:hover .mainbackground__contentsmenu1--menuitem {
  margin-right: -18px;
}
.mainbackground__contentsmenu1--menuitemwrapicon {
  height: 26px;
  width: 26px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.mainbackground__contentsmenu1:hover .mainbackground__contentsmenu1--menuitemwrapicon {
  transform: rotate(0);
}
.mainbackground__contentsmenu1--menuitemicon {
  color: #99E2D0;
}
.mainbackground__contentsmenu {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  overflow: hidden;
  /* fin de l'animation validé */
  margin-top: 15px;
}
.mainbackground__contentsmenu:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.mainbackground__contentsmenu--price {
  display: flex;
  margin-right: 10px;
}
.mainbackground__contentsmenu h3 {
  padding-top: 10px;
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mainbackground__contentsmenu--menuitem {
  /*animation validé */
  background-color: #99E2D0;
  margin: -39px -98px 0 16px;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.mainbackground__contentsmenu:hover .mainbackground__contentsmenu--menuitem {
  margin-right: -18px;
}
.mainbackground__contentsmenu--menuitemwrapicon {
  height: 26px;
  width: 26px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.mainbackground__contentsmenu:hover .mainbackground__contentsmenu--menuitemwrapicon {
  transform: rotate(0);
}
.mainbackground__contentsmenu--menuitemicon {
  color: #99E2D0;
}
.mainbackground__widthinput {
  text-align: center;
  margin-top: 25px;
}
.mainbackground input {
  border: none;
  color: #fff;
  background: #d189ba;
  background: linear-gradient(170deg, #d189ba 0%, #9356dc 100%);
  margin-top: 15px;
  margin-bottom: 50px;
  box-shadow: 0 6px 13px rgba(0, 0, 0, 0.13);
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
}
.mainbackground input:hover {
  box-shadow: 0 6px 13px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.bold {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 500;
}

.light {
  width: 112%;
  margin: 0;
  margin-bottom: 13px;
  font-weight: 300;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sectionfootermenu {
  height: 190px;
  background-color: #353535;
  position: relative;
  bottom: 50px;
}
.sectionfootermenu__logofooter {
  color: #fff;
  text-decoration: none;
}
.sectionfootermenu__logofooter h3 {
  padding-top: 20px;
  margin-top: 0;
  margin-left: 20px;
}
.sectionfootermenu__containfooter {
  margin-block-end: 7px;
}
.sectionfootermenu__containfooter--decoration {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
}
.sectionfootermenu__containfooter--decoration1 {
  text-decoration: none;
  color: #fff;
  margin-left: 5px;
}
.sectionfootermenu__icon {
  font-size: 15px;
  color: #fff;
  margin-left: 20px;
}
.sectionfootermenu__icon1 {
  font-size: 10px;
  color: #fff;
  margin-left: 20px;
}

#header {
  display: block;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  position: relative;
}
#header .logo {
  display: block;
  margin: auto;
  padding: 20px;
  padding-bottom: 13px;
}

.localization {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  margin: auto;
  padding: 15px;
}
.localization__icon {
  margin-right: 15px;
}
.localization__text {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.firstsection {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  padding: 29px;
}
.firstsection h2 {
  display: block;
  margin: 11px;
  font-weight: 600;
}
.firstsection p {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
}
.firstsection input {
  color: #fff;
  cursor: pointer;
  border: none;
  background: #d189ba;
  background: linear-gradient(170deg, #d189ba 0%, #9356dc 100%);
  margin: 29px auto;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 32px;
  font-size: 16px;
}
.firstsection input:hover {
  box-shadow: 0 6px 13px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

.sectionfonction {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 45px;
  margin-bottom: 60px;
}
.sectionfonction h2 {
  margin-bottom: 30px;
}
.sectionfonction__disposition {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  margin-block-end: 1.2rem;
  padding: 7px;
  padding-left: 32px;
  border-radius: 18px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.13);
  cursor: pointer;
}
.sectionfonction__disposition--icon {
  margin-right: 24px;
  font-size: 22px;
  color: grey;
}
.sectionfonction__disposition--icon2 {
  margin-right: 21px;
  font-size: 18px;
  color: grey;
}
.sectionfonction__disposition--icon3 {
  margin-right: 19px;
  font-size: 16px;
  color: grey;
}
.sectionfonction__disposition:hover {
  background-color: #FDE6FF;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.sectionfonction h3 {
  font-weight: 500;
  font-size: 17px;
}

.sectionfood {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 40px;
}
.sectionfood a {
  text-decoration: none;
  color: initial;
  margin-left: 20px;
  margin-right: 20px;
  margin-block-end: 20px;
}
.sectionfood h2 {
  margin-left: 20px;
}
.sectionfood__containfood {
  position: relative;
  height: 280px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.13);
}
.sectionfood__containfood:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}
.sectionfood__containfood--object {
  position: absolute;
  top: 20px;
  left: 240px;
  color: #1b6150;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #99E2D0;
  border-radius: 3px;
}
.sectionfood__containfood--img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 1rem 1rem 0rem 0rem;
}
.sectionfood__containfood h3 {
  margin-top: 8px;
  margin-left: 10px;
  margin-bottom: 0;
  font-weight: 600;
}
.sectionfood__containfood p {
  margin-left: 10px;
  margin-top: 3px;
}
.sectionfood__containfood--icon {
  font-size: 24px;
  position: absolute;
  left: 285px;
  bottom: 30px;
}
.sectionfood__containfood--icon:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  font-weight: 600;
  transform: scale(1.1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sectionfooter {
  height: 190px;
  background-color: #353535;
}
.sectionfooter__logofooter {
  color: #fff;
  text-decoration: none;
}
.sectionfooter__logofooter h3 {
  font-family: "Shrikhand";
  font-weight: 100;
  padding-top: 20px;
  margin-top: 0;
  margin-left: 20px;
}
.sectionfooter__containfooter {
  margin-block-end: 7px;
}
.sectionfooter__containfooter--decoration {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
}
.sectionfooter__containfooter--decoration1 {
  text-decoration: none;
  color: #fff;
  margin-left: 5px;
}
.sectionfooter__icon {
  font-size: 15px;
  color: #fff;
  margin-left: 20px;
}
.sectionfooter__icon1 {
  font-size: 10px;
  color: #fff;
  margin-left: 20px;
}

/* animation opacity */
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation-opacity {
  animation: opacity 1s both;
}

#delay0 {
  animation-delay: 2.1s;
}

#delay1 {
  animation-delay: 2.2s;
}

#delay2 {
  animation-delay: 2.3s;
}

#delay3 {
  animation-delay: 2.4s;
}

#delay4 {
  animation-delay: 2.5s;
}

#delay5 {
  animation-delay: 2.6s;
}

#delay6 {
  animation-delay: 2.7s;
}

#delay7 {
  animation-delay: 2.8s;
}

#delay8 {
  animation-delay: 2.9s;
}

#delay9 {
  animation-delay: 3s;
}

/* fin d'animation opacity */
.badge {
  position: absolute;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356dc;
  text-align: center;
  padding: 2px;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  animation: loader;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__item {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #FF79DA;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
