#header{
    display: block; 
    box-shadow: 0 0 6px rgba(0,0,0,0.25);
    position: relative;
    .logo {
        display: block;
        margin: auto;
        padding: $marginrl;
        padding-bottom: 13px;
    }
}

.localization {
    display: flex;
    justify-content: center;
    background-color: $color;
    margin: auto;
    padding: $margin;
    &__icon {
        margin-right: $margin;
    }
    &__text {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
}

.firstsection {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    padding: 29px;
    h2 {
        display: block;
        margin: 11px;
        font-weight: 600;
    }
    p {
        margin: $margindefault;
        font-weight: 300;
        font-size: 18px;
    }
    input { 
        color: $colorw;
        cursor: pointer;
        border: none;
        background: rgb(209,137,186);
        background: linear-gradient(170deg, rgba(209,137,186,1) 0%, rgba(147,86,220,1) 100%);
        margin: 29px auto;
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 32px;
        font-size: 16px;
        &:hover {
            box-shadow: 0 6px 13px rgb(0 0 0 / 0.20);
            transform: scale(1.01);
        }
    }
}
.sectionfonction {
    display: flex;
    flex-direction: column; 
    margin-left: $marginrl;
    margin-right: $marginrl;
    margin-top: 45px;
    margin-bottom: 60px;
    h2 {
        margin-bottom: 30px;
    }
    &__disposition {
        position:relative;
        display: flex;
        align-items: center;
        background-color: $color;
        margin-block-end: 1.20rem;
        padding: 7px;
        padding-left: 32px;
        border-radius: 18px;
        box-shadow: 4px 4px 8px 0 rgba(0 0 0 / 0.13);
        cursor: pointer;
        &--icon {
            margin-right: 24px;
            font-size: 22px;
            color: grey;
        }
        &--icon2 {
            margin-right: 21px;
            font-size: 18px;
            color: grey;
        }
        &--icon3 {
            margin-right: 19px;
            font-size: 16px;
            color: grey;
        }
        &:hover {
            background-color: #FDE6FF;
            box-shadow: 4px 4px 8px 0 rgba(0 0 0 / 0.20);
        }
    }
    h3 {
        font-weight: 500;
        font-size: 17px;
    }
}

.sectionfood {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $color;
    padding-top: 30px;
    padding-bottom: 40px;
    a {
        text-decoration: none;
        color: initial;
        margin-left: $marginrl;
        margin-right: $marginrl;
        margin-block-end: $marginrl;
    }
    h2 {
        margin-left: $marginrl;
    }
    &__containfood {
        position: relative;
        height: 280px;
        background-color: white;
        border-radius: 16px;
        box-shadow: 0 5px 15px rgba(0 0 0 / 0.13);
        &:hover {
            box-shadow: 0 5px 15px rgba(0 0 0 / 0.20);
            transform: scale(1.01);
        }
        &--object {
            position: absolute;
            top: 20px;
            left: 240px;
            color: #1b6150;
            padding: 5px;
            padding-right: 10px;
            padding-left: 10px;
            background-color: #99E2D0;
            border-radius: 3px;
        }
        &--img {
            width: 100%;
            height: 210px;
            object-fit: cover;
            border-radius: 1rem 1rem 0rem 0rem ;
        }
        h3 {
            margin-top: 8px;
            margin-left: 10px;
            margin-bottom: $margindefault;
            font-weight: 600;
        }
        p {
            margin-left: 10px;
            margin-top: 3px;
        }
        &--icon {
            font-size: 24px;
            position: absolute;
            left: 285px;
            bottom: 30px;
            &:hover {
                background: linear-gradient(#9356DC, #FF79DA);
                font-weight: 600;
                transform: scale(1.1);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}
.sectionfooter {
    height: 190px;
    background-color: #353535;
    &__logofooter {
        color: $colorw;
        text-decoration: none;
        h3 {
            font-family: 'Shrikhand';
            font-weight: 100;
            padding-top: $marginrl;
            margin-top: $margindefault;
            margin-left: $marginrl;
        }
    }
    &__containfooter {
        margin-block-end: 7px;
        &--decoration {
        text-decoration: none;
        color: $colorw;
        margin-left: $marginrl;
        }
        &--decoration1 {
        text-decoration: none;
        color: $colorw;
        margin-left: 5px;
        }
    }
    &__icon {
        font-size: 15px;
        color: $colorw;
        margin-left: $marginrl;
    }
    &__icon1 {
        font-size: 10px;
        color: $colorw;
        margin-left: $marginrl;
    }
}