/* animation opacity */
@keyframes opacity {
    0% {
              opacity: 0;
    }
    100% {
              opacity: 1;
    }
}
  
.animation-opacity {
    animation: opacity 1s both;
}

#delay0 {
    animation-delay: 2.1s;
}

#delay1 {
    animation-delay: 2.2s;
}

#delay2 {
    animation-delay: 2.3s;
}

#delay3 {
    animation-delay: 2.4s;
}

#delay4 {
    animation-delay: 2.5s;
}

#delay5 {
    animation-delay: 2.6s;
}

#delay6 {
    animation-delay: 2.7s;
}

#delay7 {
    animation-delay: 2.8s;
}

#delay8 {
    animation-delay: 2.9s;
}
 #delay9 {
     animation-delay: 3s;
 } /* fin d'animation opacity */
